<ul nz-menu class="side_menu" [nzMode]="is_collapsed?'vertical':'inline'" [nzTheme]="is_collapsed?'dark':'light'">
  <li nz-submenu>
    <span title><i class="anticon anticon-star"></i><span class="nav-text">Reward Programs</span></span>
    <ul>
      <li nz-menu-item>option1</li>
      <li nz-menu-item>option2</li>
      <li nz-menu-item>option3</li>
      <li nz-menu-item>option4</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-trophy"></i><span class="nav-text">Resources</span></span>
    <ul>
      <li nz-menu-item>option5</li>
      <li nz-menu-item>option6</li>
      <li nz-menu-item>option7</li>
      <li nz-menu-item>option8</li>
    </ul>
  </li>
  <li nz-submenu>
    <span title><i class="anticon anticon-global"></i><span class="nav-text">Businesses</span></span>
    <ul>
      <li nz-menu-item>option9</li>
      <li nz-menu-item>option10</li>
      <li nz-menu-item>option11</li>
      <li nz-menu-item>option12</li>
    </ul>
  </li>
</ul>