<nz-layout class="layout">
	<nz-header class="header">
		<div class="logo"></div>
		<app-menu-top></app-menu-top>
		<app-login-box class="login-box"></app-login-box>
	</nz-header>
	<nz-content class="content-panel">
		<app-breadcrumb></app-breadcrumb>
		<nz-layout class="main">
			<nz-sider [nzWidth]="250" nzCollapsible [(nzCollapsed)]="is_collapsed" [nzBreakpoint]="'lg'">
				<app-menu-side [is_collapsed]="is_collapsed"></app-menu-side>
			</nz-sider>
			<nz-content class="content">
				<router-outlet></router-outlet>
			</nz-content>
		</nz-layout>
		<nz-footer class="footer">
			<app-footer></app-footer>
		</nz-footer>
	</nz-content>
</nz-layout>
<nz-back-top></nz-back-top>