.logo  {
	background: url('/assets/images/cherries_color.png') center center no-repeat;
	width: 128px;
	height: 64px;
	margin: 0px 28px 0px 0;
	float: left;
}
.header{
	overflow: hidden;
}
.content{
	padding: 0 24px;
	min-height: 280px;
}
.footer{
	text-align: center;
}
.main{
	background: #fff;
}
.content{
	padding:24px;
}
:host ::ng-deep h1{
	border-bottom: 1px solid #ccc;
	margin-bottom: 8px;
}
:host ::ng-deep .content-panel{
	padding:0 50px;
}

.login-box{
	float: right;
	position: relative;
	top: -54px;
	right: 0px;
}
:host ::ng-deep .ant-col-xs-24,
:host ::ng-deep .ant-row{
	margin-bottom: 8px;
}

:host ::ng-deep .side_menu{
	height:100%;
}
:host ::ng-deep .ant-layout-sider-collapsed .nav-text {
	display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .ant-menu-submenu-title:after {
	display: none;
}

:host ::ng-deep .ant-layout-sider-collapsed .anticon {
	font-size: 16px;
	margin-left: 8px;
}

:host ::ng-deep .trigger {
	font-size: 18px;
	line-height: 64px;
	padding: 0 16px;
	cursor: pointer;
	transition: color .3s;
}

:host ::ng-deep .trigger:hover {
	color: #108ee9;
}